.winner {
    width: 350px;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: -195px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border-top: 2px solid black;
    border-bottom: 10px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.winner > p {
    font-size: 12px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.8);
}

.winner > h1 {
    font-size: 48px;
    font-weight: 700;
}

.winner > button {
    background-color: #7945ff;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.winner > button:hover {
    background-color: #6c34fa;
}
